@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
    --section-background: rgba(59, 66, 82, 1.00);
    --shadow: rgba(59, 66, 82, 0.15);
    --body-background: rgba(216, 222, 233, 1.00);
    --highlight: rgba(235, 203, 139, 1.00);
    --dark-text: rgba(76, 86, 106, 1.00);
    --light-text: rgba(216, 222, 233, 1.00);
    --blue-text: rgba(129, 161, 193, 1.00);
    --fancy-font: 'Satisfy', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --icon-color: rgba(94, 129, 172, 1.00);
}

body {
    margin: 0;
    font-family: 'Dosis', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--body-background);
}

.header,
.intro,
.main,
.signup {
    padding: 20px 125px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-background);
    padding: 20px 125px;
}

.logo {
    font-family: var(--fancy-font);
    color: var(--highlight);
    font-size: 36px;
    font-weight: 800;
}

.nav {
    display: flex;
    align-items: center;
}

svg.nav-arrow {
    color: var(--blue-text);
    max-height: 22px;
    max-width: 22px;
    padding-left: 24px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    margin: 0;
}

.nav a {
    color: var(--blue-text);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.intro {
    display: flex;
    gap: 40px;
    background-color: var(--section-background);
    padding-bottom: 20px;
    padding-top: 0px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

.info .heading {
    color: var(--highlight);
    font-size: 40px;
}

.intro img {
    max-width: 400px;
    filter: blur(1px);
}

.info .text {
    color: var(--light-text);
    font-size: 20px;
}

.main {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main .box {
    min-height: 200px;
    width: 400px;
    margin: 20px;
    gap: 20px;
    border: 1px solid var(--shadow);
    box-shadow: 1.95px 1.95px 2.6px var(--shadow);
}

svg.box-icon {
    color: var(--icon-color);
    height: 50px;
    width: 50px;
    stroke-width: 2px;
}

.main .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 12px;
    background-color: var(--shadow);
    font-family: Satisfy, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: lowercase;
    color: var(--icon-color);
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--highlight);
    margin: 0px 300px;
}

.signup .text {
    color: var(--section-background);
    text-align: center;
    font-size: 24px;
}

.signup .input {
    font-family: 'Dosis' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup .button {
    padding: 10px 20px;
    background-color: var(--section-background);
    font-size: 24px;
    color: var(--blue-text);
}