@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
    font-family: 'Dosis', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(81, 81, 81, 1.00);
    padding: 20px 125px;
}

.logo {
    font-family: 'Shadows Into Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 235, 84, 1.00);
    font-size: 36px;
    font-weight: 800;
}

.nav {
    display: flex;
    align-items: center;
}

svg.nav-arrow {
    color: rgba(255, 235, 84, 1.00);
    max-height: 22px;
    max-width: 22px;
    padding-left: 24px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    color: rgba(255, 235, 84, 1.00);
    font-size: 20px;
    margin: 0;
}